server:
  port: 8086

spring:
  application:
    name: FILE-SERVICE
  datasource:
    url: jdbc:postgresql://localhost:5442/file_db
    username: postgres
    password: k@07179758178
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
  security:
    oauth2:
      resourceserver:
        jwt:
          # This tells the gateway to validate locally using the secret
          jws-algorithms: HS256
          # Your secret string goes here
          secret-key-value: "ThisIsASecretKeyThatIsExactlySixtyFourCharactersLongToFixTheError"

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/

management:
  endpoints:
    web:
      exposure:
        include: "*"
